/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1; }

menu, ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* --------------------------------
 * base
 * -------------------------------- */
body {
  color: #444;
  font-family: "Noto Sans JP", sans-serif; }

*,
*::before,
*::after {
  box-sizing: border-box; }

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none; }

li a {
  color: #444; }

img {
  display: block;
  width: 100%; }

p {
  font-size: 16px;
  line-height: 2; }

.brPc {
  display: none; }

.underLine {
  background: linear-gradient(transparent 65%, #99e5a5 0%); }

.color {
  color: #21a937; }

.tell a {
  color: #21a937;
  font-weight: bold; }

.tell a::before {
  font-family: "Font Awesome 5 Free";
  content: "\f879";
  font-weight: 900;
  margin-right: 5px; }

.secTl {
  font-size: 24px;
  font-weight: bold; }

.boxTl {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5; }

.navbar {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 20px);
  margin: 0 auto;
  padding: 10px 0; }
  .navbar .logo {
    background: url(./images/logo.jpg) no-repeat center center/contain;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    width: 50%;
    max-width: 263px;
    height: 73px; }
  .navbar .infoWrap {
    text-align: right;
    width: 50%; }
  .navbar .hour {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 8px; }
  .navbar .tell {
    font-size: 20px; }

.hero {
  background: url(./images/hero.jpg) no-repeat center center/cover;
  height: 500px; }
  .hero .container {
    display: flex;
    align-items: center;
    height: 100%; }
  .hero .heroTlWrap {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10%;
    -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl; }
  .hero .heroTl01,
  .hero .heroTl02 {
    display: block;
    margin-right: 20px;
    padding: 10px 18px;
    background: #fff; }

.about {
  padding: 40px 0; }
  .about .boxWrap {
    max-width: 600px;
    margin: 0 auto; }
  .about .container {
    width: calc(100% - 30px);
    margin: 0 auto; }
  .about .box {
    margin-top: 30px; }
  .about .boxTl {
    line-height: 2;
    margin-bottom: 37px; }
  .about img {
    border-radius: 10px; }

.medical {
  background: #f5fcf8;
  padding: 40px 0 60px; }
  .medical .container {
    width: calc(100% - 30px);
    margin: 0 auto; }
  .medical .secTl {
    text-align: center;
    margin-bottom: 35px; }
  .medical .secTxt {
    text-align: center;
    font-weight: bold;
    line-height: 2;
    width: 80%;
    margin: 0 auto 33px; }
  .medical .boxWrap {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 82px; }
  .medical .box {
    background: #fff;
    border: 2px solid #c9c9c9;
    border-radius: 10px;
    margin-top: 20px;
    padding: 40px 30px 0; }
  .medical .boxTl {
    text-align: center;
    margin-bottom: 45px; }
  .medical .boxTxt {
    font-weight: bold;
    line-height: 2.5;
    margin-bottom: 108px; }
  .medical .box img {
    width: 187px;
    height: 187px;
    margin: 0 auto; }

.brsm {
  display: block; }

.news .secTl {
  text-align: center;
  margin-bottom: 70px; }

.news .newsList {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 3px 6px #00000029;
  max-width: 600px;
  padding: 20px;
  margin: 0 auto; }

.news .newsItem {
  border-bottom: 2px solid #e7e7e7;
  padding-bottom: 20px;
  margin: 20px 0; }

.news .date {
  font-weight: bold;
  color: #21a937;
  margin-right: 10px; }

.news .cate {
  color: #fff;
  text-align: center;
  background: #444;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  width: 80px;
  padding: 4px 16px; }

.news .post {
  font-weight: bold;
  display: block;
  line-height: 1.5;
  margin-top: 20px; }

.news .more {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  .news .more::after {
    font-family: "Font Awesome 5 Free";
    content: "\f0da";
    font-weight: 900;
    font-size: 1.5rem;
    margin-left: 5px; }

.footer {
  padding: 50px 0; }
  .footer .boxLeft {
    margin-bottom: 50px; }
    .footer .boxLeft iframe {
      width: 100vw;
      height: 300px; }
  .footer .boxRight {
    max-width: 600px;
    width: calc(100% - 30px);
    margin: 0 auto; }
  .footer .logo {
    max-width: 263px;
    height: 73px;
    margin-bottom: 25px; }
  .footer .address {
    margin-bottom: 25px; }
  .footer .zip {
    display: block;
    margin-bottom: 10px; }
  .footer .tell a {
    font-size: 24px; }
  .footer .tell {
    margin-bottom: 28px; }
  .footer .copyLight {
    font-size: 11px;
    text-align: center; }

.footer .ListBoxWrap {
  margin-bottom: 30px; }

.footer .listBoxLeft {
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-bottom: 10px; }

.footer .serviceList {
  margin-bottom: 20px; }

.footer .serviceItem {
  padding-left: 10px;
  margin-bottom: 10px; }

.footer .week {
  display: block;
  margin-right: 10px;
  margin-bottom: 10px; }

.footer .time1 {
  margin-right: 10px; }

@media (min-width: 768px) {
  .brsm {
    display: none; }
  .tell {
    font-size: 24px; }
  .tell a {
    pointer-events: none; }
  .navbar {
    padding: 29px 0; }
  .hero {
    height: 700px; }
    .hero .heroTlWrap {
      font-size: 28px; } }

@media (min-width: 1180px) {
  .navbar {
    max-width: 1180px; }
  .hero {
    height: 947px; }
    .hero .heroTl01,
    .hero .heroTl02 {
      margin-right: 80px;
      margin-left: 0;
      padding: 18px 37px; }
  .about {
    padding: 162px 0 82px; }
    .about .boxWrap {
      display: flex;
      max-width: 1180px;
      justify-content: space-between;
      align-items: center; }
    .about .txtBox {
      max-width: 415px;
      margin: 0 44px 0; }
    .about img {
      max-width: 690px; }
  .brPc {
    display: block; }
  .medical {
    padding: 80px 0 112px; }
    .medical .secTl {
      margin-bottom: 68px; }
    .medical .boxWrap {
      display: flex;
      justify-content: space-between;
      max-width: 1180px; }
    .medical .box {
      flex-basis: 380px;
      height: 590px;
      margin-top: 0;
      position: relative; }
    .medical img {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      bottom: 0; }
  .news .container {
    max-width: 1180px; }
  .news .newsList {
    border-radius: 30px;
    max-width: 1180px;
    padding: 50px 70px 45px; }
  .news .date {
    margin-right: 28px; }
  .news .cate {
    margin-right: 28px; }
  .news .post {
    display: inline-block; }
  .news .more {
    margin-top: 40px; }
  .footer {
    padding: 173px 0; }
    .footer .boxLeft {
      margin-right: 36px;
      margin-bottom: 0; }
      .footer .boxLeft iframe {
        width: 608px;
        height: 440px; }
    .footer .zip {
      display: inline-block;
      margin-right: 16px; }
    .footer .copyLight {
      text-align: right; }
    .footer .boxWrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1180px;
      margin: 0 auto; }
    .footer .boxRightIn {
      border-top: 2px solid #e7e7e7;
      border-bottom: 2px solid #e7e7e7;
      margin-bottom: 21px; }
    .footer .listBoxLeft {
      border-bottom: 0;
      width: 110px;
      padding-top: 10px;
      padding-right: 28px;
      padding-left: 0;
      margin-bottom: 0; }
    .footer .listBoxRight {
      border-left: 2px solid #e7e7e7;
      padding-top: 10px;
      padding-left: 28px; }
    .footer .ListBoxWrap {
      display: flex;
      margin-top: 20px;
      margin-bottom: 20px; }
    .footer .serviceList {
      margin-bottom: 0; }
    .footer .serviceItem {
      display: flex;
      align-items: center;
      margin-bottom: 13px;
      padding: 0; }
    .footer .week {
      display: block;
      margin-right: 23px;
      margin-bottom: 0; }
    .footer .time1 {
      margin-right: 23px; } }

@media (min-width: 1920px) {
  .hero .heroTlWrap {
    margin-left: 211px; } }


/*# sourceMappingURL=style.css.map*/